h1 {
    text-align: center;
}
img{
    height:50px;
    weight:3px;
}
.song{
    display:flex;
    justify-content:center;
    height:200px;
  

}
iframe{
 
  height: 200px;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 25%;
    padding: 25px 0px;
    border:solid black 1px;
    text-align: center;
     
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}
#songs{
    
     border-bottom: double;
    
    
}

#songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
}

#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: center;
}


#links img{
    display:block;
    font-size: 18px;
    height: 50px;
    font-weight: bold;
    margin-bottom:80px;
    margin-left: 20px;
   

}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}